<%- include('header.ejs'); %>

    <section class="data">
      <h1>Start designing your card.</h1><br>
      <form class="" action="/details" method="post">
        <input type="text" name="fName" value="" placeholder="Enter first name"><br><br>
        <input type="text" name="" value="" placeholder="Enter last name"><br><br>
        <input type="text" name="occupation" value="" placeholder="Occupation"><br><br>
        <input type="text" name="company" value="" placeholder="Organization"><br><br>
        <input type="text" name="city" value="" placeholder="City"><br><br>
        <input type="text" name="phone" value="" placeholder="Phone"><br><br>
        <input type="text" name="email" value="" placeholder="Email"><br><br>
        <button class="btn btn-secondary" type="submit" name="button">Next</button>
      </form>

    </section>

<%- include('footer.ejs'); %>
