.card-1 {
  margin: 50px;
  box-shadow: 1px 1px 1px 3px black;
  padding: 50px;
  font-size: 10px;
}

.card-1 .front {
  width: 350px;
  height: 150px;
    background-color: #2C2E43;
    text-align: center;
    padding: 50px;
    color: white;
}

.card-1 .back {
  text-align: center;
  width: 350px;
  height: 150px;
  padding: 30px;
  background-color: #EEEEEE;
}
